.bg-ecoFriendly {
    position: relative;
}
.bg-ecoFriendly::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/ecoFriendly/bg-ecofriendly.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}