.bg-header {
    position: relative;
}
.bg-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/header/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%);
    z-index: -1;
}
.mtn-30{
    margin-top: -30px;
}
.nav-link{
color:white;
}
.btn:hover{
    transform: scale(1.1);
}
.navbar-toggler:focus{
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}
@media  screen and (max-width:991px){
    .nav-link{
        color:black;
        } 
}